h2:nth-of-type(odd){
	border:5px solid pink;
	
}
h2:nth-of-type(even){
	border:5px dashed black; 
}
.box{
	width:300px;
	height:250px;
	background:#D5478B;
	border-top-right-radius:40%;
	border-bottom-left-radius:40%;
}
.dotted {
	border-style: dotted;
	color: red;
}
.groove{
	border-style:groove;
	color:pink;
	}
	.inset{
		border-style:inset;
	    color:green;
		}
		.outset{
			border-style:outset;
	    color:gray;
		}
		.double{
				border-style:double;
	    color:blue;
			}