p{
	background:radial-gradient(yellow,pink,purple);
}
	
.box{
	width:350px;
	height:200px;
	background:pink;
	position:relative;
}
.box .box{
	background:#EB2528; 
	max-width:350px;
	max-height:250px;
	height:200px;
	width:350px;
	position:absolute
}
.box .circle{
	width:100px;
	height:100px;
	border-radius:50%;
	background:url('011.webp'); 
	background-size:cover;
	background-repeat:no-repeat;
	background-position:center;
	position:absolute;
	top:23%;
	left:35%
}
